@import "tailwindcss";

@theme {
  --color-primary-50: #f0f4ff;
  --color-primary-100: #e0eaff;
  --color-primary-200: #c7d7ff;
  --color-primary-300: #a5bcff;
  --color-primary-400: #8099ff;
  --color-primary-500: #667eea;
  --color-primary-600: #5568d3;
  --color-primary-700: #4553b8;
  --color-primary-800: #3a4494;
  --color-primary-900: #2f3775;
}


.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555;
}